@model BamboPortal_V1._0._0._0.ModelViews.CustomerSide.IndexPageModelView
@{
    ViewBag.SEOkeywords = "پارچه-گالری-پارچه-ولوت-پارچه-مرغوب";
    ViewBag.SEOdescription = "ولوت ارائه دهنده مرغوب ترین و باکیفیت ترین پارچه ها میباشد";
    ViewBag.Title = "ولوت - صفحه اصلی";
    Layout = "~/Views/SharedViewPages/CustomerSide/CustomerMaster.cshtml";

}
<div id="home" class="one-page-section owl-carousel owl-theme owl-slider owl-arrows full-width no-padding-side full-height" data-offset-container="" style="overflow: hidden;" data-items="1" data-items-desktop="1" data-items-tablet="1" data-items-mobile="1" data-pagination-speed="2000" data-slide-speed="2000" data-navigation="true" data-auto-play="true" data-stop-on-hover="true">
    <div class="item">
        <div class="slider-item" style="background-image: url('@Url.Content("~/resource/images/velvetslide1.jpg")'); background-position: center center;background-size: cover;"></div>
    </div>
    <div class="item">
        <div class="slider-item" style="background-image: url('@Url.Content("~/resource/images/velvetslide2.jpg")'); background-position: center center;background-size: cover;"></div>
    </div>
</div>

<div class="container">
    <div class="row pad-top-100">
        <div class="col-md-12 text-center" style="margin-bottom: 25px;">
            <h2 class="no-margin tshbb pad-bot-15 text-uppercase tshbb1b">پرفروش ترین محصولات</h2>
            <!--<h5 class="no-margin text-lighter"><i>Velvet Textile Gallery</i></h5>-->
        </div>
    </div>
    <div class="inner-res-margin-padding-0 row col-lg-12 col-md-12 col-sm-12 col-xs-12">
        @foreach (var item in Model.Sale_Products)
        {
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pad-left-40 pad-right-40 no-padding-side-mobile">
                <div class="trailer trailer-inactive-mobile no-margin-top">
                    <figure onclick="redirect('@Url.Action("productpage","CustomerSide_Product",new { _M=item.MainCatename.Replace(" ","-") , _S=item.subCatename.Replace(" ","-") ,  _P=item.Id,_N=item.Title.Replace(" ","-")})');" class="trailer-image">
                        <img alt="image" src="@Url.Content("~"+item.PicPath)" />
                        <figcaption>
                            <div class="trailer-center">
                                <div class="trailer-heading custom-h2-title">
                                    <h2 class="content-background">Bags</h2>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="product-info">
                    <h3 onclick="redirect('@Url.Action("productpage","CustomerSide_Product",new { _M=item.MainCatename.Replace(" ","-") , _S=item.subCatename.Replace(" ","-") ,  _P=item.Id,_N=item.Title.Replace(" ","-")})');" class="text-darker"><a href="#"><small>@item.Title</small></a></h3>
                    <h6 class="price">@item.PriceXQ</h6>
                </div>
            </div>
        }

    </div>
</div>

<div class="container-fluid pad-top-50">
    <div class="row no-margin">
        <div class="col-md-12 pad-left-40-desktop pad-right-40-desktop pad-left-40-tablet pad-right-40-tablet">
            <div class="row pad-top-25">
                <div class="col-md-12 text-center" style="margin-bottom: 25px;">
                    <h2 class="no-margin tshbb pad-bot-15 text-uppercase tshbb1b">جدیدترین محصولات</h2>
                    <!--<h5 class="no-margin text-lighter"><i>Velvet Textile Gallery</i></h5>-->
                </div>
            </div>
            <div class="container">
                <div class="custom-res-owl owl-carousel owl-theme owl-arrows owl-arrows-view pad-left-50-mobile pad-right-50-mobile"
                     data-items="3" data-items-desktop="3" data-items-tablet="2" data-items-mobile="1"
                     data-pagination="false" data-navigation="true">
                    @foreach (var item in Model.NewProducts)
                    {
                        <div class="item pad-left-40 pad-right-40 no-padding-side-mobile">
                            <div class="trailer trailer-inactive-mobile no-margin-top">
                                <figure onclick="redirect('@Url.Action("productpage","CustomerSide_Product",new { _M=item.MainCatename.Replace(" ","-") , _S=item.subCatename.Replace(" ","-") ,  _P=item.Id,_N=item.Title.Replace(" ","-")})');" class="trailer-image">
                                    <img alt="image" src="@Url.Content("~"+item.PicPath)" />
                                    <figcaption>
                                        <div class="trailer-center">
                                            <div class="trailer-heading custom-h2-title">
                                                <h2 class="content-background">Bags</h2>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="product-info">
                                <h3 onclick="redirect('@Url.Action("productpage","CustomerSide_Product",new { _M=item.MainCatename.Replace(" ","-") , _S=item.subCatename.Replace(" ","-") ,  _P=item.Id,_N=item.Title.Replace(" ","-")})');" class="text-darker"><a href="#"><small>@item.Title</small></a></h3>
                                <h6 class="price">@item.PriceXQ</h6>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pad-bot-50">
    <div class="row pad-top-25">
        <div class="col-md-12 text-center" style="margin-bottom: 25px;">
            <h2 class="no-margin tshbb pad-bot-15 text-uppercase tshbb1b">محصولات ویژه</h2>
            <!--<h5 class="no-margin text-lighter"><i>Velvet Textile Gallery</i></h5>-->
        </div>
    </div>
    <div class="row product no-margin">
        @foreach (var item in Model.SelectedProducts)
        {
            <div class="col-sm-4 no-padding">
                <div class="product-thumbnail no-margin">
                    <div class="product-image prd-img">
                        <img alt="image" class="img-responsive" src="@Url.Content("~"+item.PicPath)" style="width: 100%;">
                        <div class="thumbnail-btns">
                            <a class="btn btn-lg btn-theme" href="@Url.Action("productpage","CustomerSide_Product",new { _M=item.MainCatename.Replace(" ","-") , _S=item.subCatename.Replace(" ","-") ,  _P=item.Id,_N=item.Title.Replace(" ","-")})">مشاهده محصول</a>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>

<div class="container">
    <div class="row pad-top-25">
        <div class="col-md-12 text-center" style="margin-bottom: 25px;">
            <h2 class="no-margin tshbb pad-bot-15 text-uppercase tshbb1b">محصولات پیشنهادی</h2>
            <!--<h5 class="no-margin text-lighter"><i>Velvet Textile Gallery</i></h5>-->
        </div>
    </div>
    <div class="row product pad-bot-50">
        <div class="inner-res-margin-padding-0 row col-lg-12 col-md-12 col-sm-12 col-xs-12">
            @foreach(var item in Model.ProductsG3)
            {

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pad-left-40 pad-right-40 no-padding-side-mobile">
                <div class="trailer trailer-inactive-mobile no-margin-top">
                    <figure onclick="redirect('@Url.Action("productpage","CustomerSide_Product",new { _M=item.MainCatename.Replace(" ","-") , _S=item.subCatename.Replace(" ","-") ,  _P=item.Id,_N=item.Title.Replace(" ","-")})');" class="trailer-image">
                        <img alt="image" src="@Url.Content("~"+item.PicPath)" />
                        <figcaption>
                            <div class="trailer-center">
                                <div class="trailer-heading custom-h2-title">
                                    <h2 class="content-background">Bags</h2>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="product-info">
                    <h3 onclick="redirect('@Url.Action("productpage","CustomerSide_Product",new { _M=item.MainCatename.Replace(" ","-") , _S=item.subCatename.Replace(" ","-") ,  _P=item.Id,_N=item.Title.Replace(" ","-")})');" class="text-darker"><a href="#"><small>@item.Title</small></a></h3>
                    <h6 class="price">@item.PriceXQ</h6>
                </div>
            </div>
            }

        </div>

    </div>
</div>
<div class="container">
    <div class="row pad-top-25">
        <div class="col-md-12 text-center" style="margin-bottom: 25px;">
            <h2 class="no-margin tshbb pad-bot-15 text-uppercase tshbb1b">شعبات</h2>
            <!--<h5 class="no-margin text-lighter"><i>Velvet Textile Gallery</i></h5>-->
        </div>
    </div>
    <div class="row product pad-bot-50 markets">
        <div class="col-md-3">
            <h4 class="footer-title">شعبه مرکزی</h4>
            <p class="footer-content">
                <i class="fa fa-map-marker"></i>
                آدرس : میدان تجریش ، رو به روی بیمارستان شهدا ، پاساژ میری طبقه سه پلاک  108و  ، 56گالری
                پارچه ولوت
            </p>
            <p class="footer-content">
                <i class="fa fa-phone"></i>
                <a class="tshbeforetel" href="tel:982122717656021">22334455</a>
            </p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d808.9394280925661!2d51.43142306470913!3d35.80588097728032!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x28b271f00e6177d4!2z2LTYudio2Ycg2YXYsdqp2LLbjCDZvtin2LHahtmHINmI2YTZiNiq!5e0!3m2!1sen!2sus!4v1580312708942!5m2!1sen!2sus" height="200" frameborder="0" style="width: 100%;" allowfullscreen="true"></iframe>
            <ul class="social-icons list-inline list-unstyled si-light circle inverse" style="text-align: center; display: flow-root;">
                <li><a href="#" class="Whatsapp"><i class="fa fa-whatsapp soc-icon"></i></a></li>
                <li><a href="#" class="pinterest"><i class="fa fa-pinterest soc-icon"></i></a></li>
                <li><a href="https://www.instagram.com/velvet_textile" class="instagram"><i class="fa fa-instagram soc-icon"></i></a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h4 class="footer-title">شعبه دوم</h4>
            <p class="footer-content">
                <i class="fa fa-map-marker"></i>
                آدرس : بازار بزرگ ، کوچه حمام چال ، پاساژ قائم زیرزمین اول انتهای دالان  11پلاک 226 (فروش عمده)
            </p>
            <p class="footer-content">
                <i class="fa fa-phone"></i>
                <a class="tshbeforetel" href="tel:+982155802683">22334455</a>
            </p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d808.9394280925661!2d51.43142306470913!3d35.80588097728032!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x28b271f00e6177d4!2z2LTYudio2Ycg2YXYsdqp2LLbjCDZvtin2LHahtmHINmI2YTZiNiq!5e0!3m2!1sen!2sus!4v1580312708942!5m2!1sen!2sus" height="200" frameborder="0" style="width: 100%;" allowfullscreen="true"></iframe>
            <ul class="social-icons list-inline list-unstyled si-light circle inverse" style="text-align: center; display: flow-root;">
                <li><a href="#" class="Whatsapp"><i class="fa fa-whatsapp soc-icon"></i></a></li>
                <li><a href="#" class="pinterest"><i class="fa fa-pinterest soc-icon"></i></a></li>
                <li><a href="#" class="instagram"><i class="fa fa-instagram soc-icon"></i></a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h4 class="footer-title">شعبه سوم</h4>
            <p class="footer-content">
                <i class="fa fa-map-marker"></i>
                آدرس : خیابان گاندی نبش کوچه  ، 23گالری پارچه ولوت
            </p>            <br />

            <p class="footer-content">
                <i class="fa fa-phone"></i>
                <a class="tshbeforetel" href="tel:+982188885389">22334455</a>
            </p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d808.9394280925661!2d51.43142306470913!3d35.80588097728032!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x28b271f00e6177d4!2z2LTYudio2Ycg2YXYsdqp2LLbjCDZvtin2LHahtmHINmI2YTZiNiq!5e0!3m2!1sen!2sus!4v1580312708942!5m2!1sen!2sus" height="200" frameborder="0" style="width: 100%;" allowfullscreen="true"></iframe>
            <ul class="social-icons list-inline list-unstyled si-light circle inverse" style="text-align: center; display: flow-root;">
                <li><a href="https://api.whatsapp.com/send?phone=09929496284&text=velvet" class="Whatsapp"><i class="fa fa-whatsapp soc-icon"></i></a></li>
                <li><a href="#" class="pinterest"><i class="fa fa-pinterest soc-icon"></i></a></li>
                <li><a href="https://www.instagram.com/velvet_gandi" class="instagram"><i class="fa fa-instagram soc-icon"></i></a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h4 class="footer-title">شعبه چهارم</h4>
            <p class="footer-content">
                <i class="fa fa-map-marker"></i>
                آدرس : کرج ، خیابان شهید بهشتی ، رو به روی پاساژ آزادی نبش پاساژ زنوزی ، گالری پارچه ولوت
            </p>
            <p class="footer-content">
                <i class="fa fa-phone"></i>
                <a class="tshbeforetel" href="tel:+98212222914">22334455</a>
            </p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d808.9394280925661!2d51.43142306470913!3d35.80588097728032!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x28b271f00e6177d4!2z2LTYudio2Ycg2YXYsdqp2LLbjCDZvtin2LHahtmHINmI2YTZiNiq!5e0!3m2!1sen!2sus!4v1580312708942!5m2!1sen!2sus" height="200" frameborder="0" style="width: 100%;" allowfullscreen="true"></iframe>
            <ul class="social-icons list-inline list-unstyled si-light circle inverse" style="text-align: center; display: flow-root;">
                <li><a href="https://api.whatsapp.com/send?phone=09025012445&text=velvet" class="Whatsapp"><i class="fa fa-whatsapp soc-icon"></i></a></li>
                <li><a href="#" class="pinterest"><i class="fa fa-pinterest soc-icon"></i></a></li>
                <li><a href="https://www.instagram.com/velvet_Karaj" class="instagram"><i class="fa fa-instagram soc-icon"></i></a></li>
            </ul>
        </div>
    </div>
</div>
