@using BamboPortal_V1._0._0._0.Models.CustomerSide
@{
    Int64 TotalBasketPrice = 0;
    AllowDisallow AllAllowDisallowItems = (AllowDisallow)ViewBag.AllAllowDisallow;
    AllAllowDisallowItems.BasketItemsCount = AllAllowDisallowItems.ShoppingBasket.Items.Count;
    for (int i = 0; i < AllAllowDisallowItems.BasketItemsCount; i++)
    {
        TotalBasketPrice += AllAllowDisallowItems.ShoppingBasket.Items[i].PriceXQ;
    }
}

@if (ViewBag.IsUserLogin)
{
    <div class="shopping-cart-slide VLSCS">
        <div class="title">
            <span>سبد خرید شما</span>
            <span>(@String.Format("{0:n0}", AllAllowDisallowItems.BasketItemsCount)) کالا</span>
        </div>
        @if (AllAllowDisallowItems.BasketItemsCount > 0)
        {
            foreach (var item in AllAllowDisallowItems.ShoppingBasket.Items)
            {

                <div class="cart-items side-cart">
                    <div class="cart-item">
                        <div class="cart-item-remove" id="RemoverItemBasket-@item.idmpc"><a href="#" class=""><i class="fa fa-trash-o"></i></a></div>
                        <div class="cart-item-image text-center">
                            <img alt="image" src="@Url.Content("~"+item.ImagePath)" onerror="this.onerror=null;this.src='/resource/images/Customes/imgNotFound.jpg'" />
                        </div>
                        <div class="cart-item-price">
                            @item.Title
                            <span class="price" style="display: block">
                                @String.Format("{0:n0}", @item.PriceXQ)
                            </span>
                        </div>
                    </div>
                </div>
            }
            <div class="cart-item no-item" style="display:none; text-align: center!important;">
                سبد خرید خالی است
            </div>

            <div class="cart-footer">
                <div class="cart-sub grand-total">
                    <div class="cart-sub-amount price">
                        @String.Format("{0:n0}", TotalBasketPrice)
                    </div>
                    <div class="text">
                        مبلغ قابل پرداخت
                    </div>
                </div>
                <div class="cart-order-links">
                    <a class="btn shopping-cart-trigger">بستن</a>
                    <a href="@Url.Action("","")" class="btn btn-success">پرداخت</a>
                </div>
            </div>

        }
        else
        {
            <div class="cart-item no-item" style="text-align: center!important;">
                سبد خرید خالی است
            </div>
            <div class="cart-footer">
                <div class="cart-order-links">
                    <a class="btn shopping-cart-trigger">بستن</a>
                </div>
            </div>
            <div>lowfhlshfkljshfklsdhfj</div>

        }


    </div>
}
