@using BamboPortal_V1._0._0._0.ModelViews.CustomerSide
@{
//ViewBag.SEOkeywords = "H1";
//ViewBag.Title = "H12";
//ViewBag.SEOdescription = "H13";
}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta name="description" content="@ViewBag.SEOdescription">
    <meta name="keywords" content="@ViewBag.SEOkeywords">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/Customer1.css")
    @Scripts.Render("~/bundles/Customer1.js")
    @RenderSection("Styles", required: false)
</head>
<body class="header-left-side rtl">
    <div class="shopping-cart-slide">
        <div class="title">
            <span>سبد خرید شما</span>
            <span>(5) کالا</span>
        </div>
        <div class="cart-items side-cart">
            <div class="cart-item">
                <div class="cart-item-remove"><a href="#" class=""><i class="fa fa-trash-o"></i></a></div>
                <div class="cart-item-image text-center">
                    <img alt="image" src="images/products/cart-thumbs/light-grey-jacket-transparent.png" />
                </div>
                <!--
                <div class="cart-item-info">
                    <div class="item-name" style="margin-top: 2px;"><a href="#">نام محصول</a></div>
                    <div class="item-quantity">
                        <form id='qtyform5' method='POST' action='#'>
                            <input type='button' value='-' class='qtyminus btn' title='quantity5' />
                            <input type='text' min="1" name='quantity5' value='1' class='qty' />
                            <input type='button' value='+' class='qtyplus btn' title='quantity5' />
                        </form>
                    </div>
                </div>-->
                <div class="cart-item-price">
                    نام محصول
                    <span class="price" style="display: block">
                        1,560,000
                    </span>
                </div>
            </div>
        </div>
        <div class="cart-item not-login" style="display: none">
            <a href="login.html">
                <button class="btn btn-info" style="width: 100%;">ابتدا وارد حساب کاربری خود شوید</button>
            </a>
        </div>
        <div class="cart-item no-item" style="display: none;text-align: center!important;">
            سبد خرید خالی است
        </div>
        <div class="cart-footer">
            <div class="cart-sub grand-total">
                <div class="cart-sub-amount price">
                    5,000,000
                </div>
                <div class="text">
                    مبلغ قابل پرداخت
                </div>
            </div>
            <div class="cart-order-links">
                <a class="btn shopping-cart-trigger">بستن</a>
                <a href="customershoppingCart.html" class="btn btn-success">پرداخت</a>
            </div>
        </div>
    </div>
    <div id="LoaderSpinner" class="loader">
        <div class="spinner"></div>
    </div>

    <div class="page-content">

        <header class="navigation transparent">
            <div class="main-nav nav-pill full-width header-left">
                <div class="navbar navbar-default" role="navigat ion">
                    <div class="container">
                        <div class="navbar-header">
                            <a class="logo" href=".">
                                <img alt="image" src="images/logo-dark.png" />
                            </a>
                        </div>
                        <div class="navbar-icons">
                            <ul class="nav navbar-nav navbar-left">
                                <li class="nav-shop nav-shop-fullscreen">
                                    <a href="#" class="shopping-cart-trigger"><i class="shop-icon fa fa-shopping-cart menu-basket"><span>0</span></i></a>
                                </li>
                                <li class="menu-icon">
                                    <a class="full-screen-menu-trigger" href="#">
                                        <ul class="bar-icon-wrapper">
                                            <li class="bar-icon"></li>
                                            <li class="bar-icon"></li>
                                            <li class="bar-icon"></li>
                                        </ul>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="full-screen-header">
                        <div class="nav-container">
                            <div class="nav-holder">
                                <div class="inner-content">
                                    <ul class="full-screen-nav">
                                        <li><a href=".">خانه</a></li>
                                        <li><a href="AboutUs.aspx">درباره ما</a></li>
                                        <li class="with-dropdown">
                                            <a href="#" class="menu-dropdown-link account-li">ناحیه کاربری<span class="dropdown-icon tshfatrtry3 tshfamr"></span></a>
                                            <ul class="menu-dropdown tshsubmneu">
                                                <li><a href="#">ناحیه کاربری</a></li>
                                                <li><a href="#">تاریخچه خرید</a></li>
                                                <li><a href="#">سبد خرید</a></li>
                                                <li><a href="#">خروج</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="Search.aspx" style="letter-spacing: 0px;">محصولات</a></li>
                                        <li><a href="Rules.aspx" style="letter-spacing: 0px;">قوانین</a></li>
                                        <li><a href="SiteMap.aspx" title="SiteMap" style="letter-spacing: 0px;">نقشه سایت</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>




        @*renderhere*@

        @RenderBody()



        <footer class="footer" style="margin-top: 0px !important;">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row" style="margin-bottom: 15px;">
                            <div class="col-md-3" style="float: right">
                                <img alt="image" class="img-responsive" src="images/logo-dark-big.png">
                            </div>
                            <div class="col-md-9">
                                <p class="tshabout">
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h4 class="footer-title ftr-title-2 tshcontact-h4">اطلاعات تماس</h4>
                        <div class="col-md-12 tshcontact">
                            <span>
                                <i class="fa fa-phone"></i>
                                <!--شماره تماس:-->
                                <a class="tshbeforetel" href="tel:02122334455">22334455</a>
                            </span>
                            <span>
                                <i class="fa fa-envelope"></i>
                                <!--آدرس ایمیل:-->
                                <a class="tshbeforetel" href="mailto:info@velvet.com">info@velvet.com</a>
                            </span>
                            <span style="line-height: 30px">
                                <i class="fa fa-map-marker"></i>
                                آدرس دفتر مرکزی:
                                تجریش - خیابان اول - کوچه دوم - پلاک 3 - زنگ 4
                            </span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row badges-div">
                            <h4 class="footer-title ftr-title-2">نماد ها</h4>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 badges">
                                <img alt="image" class="img-responsive" src="images/enamad.png">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 badges">
                                <img alt="image" class="img-responsive" src="images/samandehi.png">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 badges">
                                <img alt="image" class="img-responsive" src="images/zarinpal.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 text-left-desktop">
                            <p class="text-secondary letter-spacing-1">
                                کلیه حقوق مادی و معنوی این سایت متعلق به برند
                                <a href="https://velvet.com">ولوت</a>
                                میباشد
                                &copy;
                                طراحی شده توسط
                                <a href="">شرکت توسعه سیستم هوشمند پاندا</a>
                            </p>
                        </div>
                        <div class="col-md-4 col-xs-12 copyright-right">
                            <ul class="list-unstyled list-inline footer-inline-links">
                                <li><a href="#">قوانین و مقررات</a></li>
                                <li><a href="contact.html">ارتباط با ما</a></li>
                                <li><a href="sitemap.html">نقشه سایت</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    @Scripts.Render("~/bundles/Customer2.js")
    @RenderSection("Scripts", required: false)
</body>
</html>









