@using BamboPortal_V1._0._0._0.ModelViews.CustomerSide
@using BamboPortal_V1._0._0._0.Models.CustomerSide
@{
    Int64 TotalBasketPrice = 0;
    AllowDisallow AllAllowDisallowItems = (AllowDisallow)ViewBag.AllAllowDisallow;
    AllAllowDisallowItems.BasketItemsCount = AllAllowDisallowItems.ShoppingBasket.Items.Count;
    for (int i = 0; i < AllAllowDisallowItems.BasketItemsCount; i++)
    {
        TotalBasketPrice += AllAllowDisallowItems.ShoppingBasket.Items[i].PriceXQ;
    }


}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta name="description" content="@ViewBag.SEOdescription">
    <meta name="keywords" content="@ViewBag.SEOkeywords">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/Customer1.css")
    @Scripts.Render("~/bundles/Customer1.js")
    @RenderSection("Styles", required: false)
</head>
<body class="header-left-side rtl" id="MainBdy">
    @*ShoppingCart*@
    <input value="@Url.Action("ShoppingCartSlide","CustomerSide_Product")" id="VLSCSAddress" style="display:none;" />
    @if (ViewBag.IsUserLogin)
    {
        <div class="shopping-cart-slide VLSCS">
            <div class="title">
                <span>سبد خرید شما</span>
                <span>(@String.Format("{0:n0}", AllAllowDisallowItems.BasketItemsCount)) کالا</span>
            </div>
            @if (AllAllowDisallowItems.BasketItemsCount > 0)
            {
                foreach (var item in AllAllowDisallowItems.ShoppingBasket.Items)
                {
                    <div class="cart-items side-cart">
                        <div class="cart-item">
                            <div class="cart-item-remove" id="RemoverItemBasket-@item.idmpc"><a href="#" class=""><i class="fa fa-trash-o"></i></a></div>
                            <div class="cart-item-image text-center">
                                <img alt="image" src="@Url.Content("~"+item.ImagePath)" onerror="this.onerror=null;this.src='/resource/images/Customes/imgNotFound.jpg'" />
                            </div>
                            <div class="cart-item-price">
                                @item.Title
                                <span class="price" style="display: block">
                                    @String.Format("{0:n0}", @item.PriceXQ)
                                </span>
                            </div>
                        </div>
                    </div>
                }
                <div class="cart-item no-item" style="display:none; text-align: center!important;">
                    سبد خرید خالی است
                </div>

                <div class="cart-footer">
                    <div class="cart-sub grand-total">
                        <div class="cart-sub-amount price">
                            @String.Format("{0:n0}", TotalBasketPrice)
                        </div>
                        <div class="text">
                            مبلغ قابل پرداخت
                        </div>
                    </div>
                    <div class="cart-order-links">
                        <a class="btn shopping-cart-trigger">بستن</a>
                        <a href="@Url.Action("","")" class="btn btn-success">پرداخت</a>
                    </div>
                </div>

            }
            else
            {
                <div class="cart-item no-item" style="text-align: center!important;">
                    سبد خرید خالی است
                </div>
                <div class="cart-footer">
                    <div class="cart-order-links">
                        <a class="btn shopping-cart-trigger">بستن</a>
                    </div>
                </div>
            }


        </div>
    }

    <div id="LoaderSpinner" class="loader">
        <div class="spinner"></div>
    </div>

    <div class="page-content">

        <header class="navigation transparent">
            <div class="main-nav nav-pill full-width header-left">
                <div class="navbar navbar-default" role="navigat ion">
                    <div class="container">
                        <div class="navbar-header">
                            <a class="logo" href="@Url.Action("index","CustomerSide_Pages")">
                                <img alt="image" src="@Url.Content("~/resource/images/logo-dark.png")" />
                            </a>
                        </div>
                        <div class="navbar-icons">
                            <ul class="nav navbar-nav navbar-left">
                                @*ShoppingCart Basket*@
                                @if (ViewBag.IsUserLogin)
                                {
                                    <li class="nav-shop nav-shop-fullscreen">
                                        <a href="#" class="shopping-cart-trigger"><i class="shop-icon fa fa-shopping-cart menu-basket"><span>@AllAllowDisallowItems.BasketItemsCount</span></i></a>
                                    </li>
                                }
                                <li class="menu-icon">
                                    <a class="full-screen-menu-trigger" href="#">
                                        <ul class="bar-icon-wrapper">
                                            <li class="bar-icon"></li>
                                            <li class="bar-icon"></li>
                                            <li class="bar-icon"></li>
                                        </ul>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="full-screen-header">
                        <div class="nav-container">
                            <div class="nav-holder">
                                <div class="inner-content">
                                    <ul class="full-screen-nav">
                                        <li><a href="@Url.Action("index","CustomerSide_Pages")">خانه</a></li>
                                        <li><a href="@Url.Action("AboutUs","CustomerSide_Pages")">درباره ما</a></li>
                                        @if (ViewBag.IsUserLogin)
                                        {
                                            <li class="with-dropdown">
                                                <a href="#" class="menu-dropdown-link account-li">ناحیه کاربری<span class="dropdown-icon tshfatrtry3 tshfamr"></span></a>
                                                <ul class="menu-dropdown tshsubmneu">
                                                    <li><a href="@Url.Action("productpage","CustomerSide_Product",new { M="dasdasd" , S="das" ,  P=1,N="محصولیک"})">ناحیه کاربری</a></li>
                                                    
                                                    <li><a href="@Url.Action("","")">تاریخچه خرید</a></li>
                                                    <li><a href="@Url.Action("","")">سبد خرید</a></li>
                                                    <li><a href="@Url.Action("","")">خروج</a></li>
                                                </ul>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="with-dropdown">
                                                <a href="#" class="menu-dropdown-link account-li">ناحیه کاربری<span class="dropdown-icon tshfatrtry3 tshfamr"></span></a>
                                                <ul class="menu-dropdown tshsubmneu">
                                                    <li><a href="@Url.Action("loginandregister","CustomerSide_Register")">ورود / ثبت نام</a></li>
                                                </ul>
                                            </li>
                                        }
                                        <li><a href="@Url.Action("search","CustomerSide_Product",new { Type = "همه"})" style="letter-spacing: 0px;">محصولات</a></li>
                                        <li><a href="@Url.Action("Rules","CustomerSide_Pages")" style="letter-spacing: 0px;">قوانین</a></li>
                                        @*<li><a href="SiteMap.aspx" title="SiteMap" style="letter-spacing: 0px;">نقشه سایت</a></li>*@
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>




        @*renderhere*@

        @RenderBody()



        <footer class="footer" style="margin-top: 0px !important;">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row" style="margin-bottom: 15px;">
                            <div class="col-md-3" style="float: right">
                                <img alt="image" class="img-responsive" src="@Url.Content("~/resource/images/logo-dark-big.png")">
                            </div>
                            <div class="col-md-9">
                                <p class="tshabout">
                                    گالری پارچه ولوت مجموعه ای کامل از پارچه های مانتویی ، مجلسی و سنتی است.<br /> در پارچه ولوت با بیش از هزاران مدل از انواع پارچه های ژاکارد ، کرپ ، وال ، سوزندوزی ، کتان ، مخمل ، شانتون ، ابریشم ،لنین آماده خدمت رسانی به شما عزیزانیم.
                                    <br />
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h4 class="footer-title ftr-title-2 tshcontact-h4">اطلاعات تماس</h4>
                        <div class="col-md-12 tshcontact">
                            <span>
                                <i class="fa fa-phone"></i>
                                <!--شماره تماس:-->
                                <a class="tshbeforetel" href="tel:982122717656021">22334455</a>
                            </span>

                            <span style="line-height: 30px">
                                <i class="fa fa-map-marker"></i>
                                آدرس دفتر مرکزی:
                                میدان تجریش ، رو به روی بیمارستان شهدا ، پاساژ میری طبقه سه پلاک  108و  ، 56گالری
                                پارچه ولوت
                            </span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row badges-div">
                            <h4 class="footer-title ftr-title-2">نماد ها</h4>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 badges">
                                <img alt="image" class="img-responsive" src="@Url.Content("~/resource/images/enamad.png")">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 badges">
                                <img alt="image" class="img-responsive" src="@Url.Content("~/resource/images/samandehi.png")">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 badges">
                                <img alt="image" class="img-responsive" src="@Url.Content("~/resource/images/zarinpal.png")">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 text-left-desktop">
                            <p class="text-secondary letter-spacing-1">
                                کلیه حقوق مادی و معنوی این سایت متعلق به برند
                                <a href="https://velvet.store">ولوت</a>
                                میباشد
                                &copy;
                                طراحی شده توسط
                                <a href="">شرکت توسعه سیستم هوشمند پاندا</a>
                            </p>
                        </div>
                        <div class="col-md-4 col-xs-12 copyright-right">
                            <ul class="list-unstyled list-inline footer-inline-links">
                                <li><a href="@Url.Action("Rules","CustomerSide_Pages")">قوانین و مقررات</a></li>
                                @*<li><a href="contact.html">ارتباط با ما</a></li>*@
                                <li><a href="@Url.Action("AboutUs","CustomerSide_Pages")">درباره ما</a></li>
                                @*<li><a href="sitemap.html">نقشه سایت</a></li>*@
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    @Scripts.Render("~/bundles/Customer2.js")
    @RenderSection("CS_Scripts", required: false)
</body>
</html>









